p
    | Hi! I'm a web developer located in 
    a(href="https://www.google.lt/search?q=Vilnius") Vilnius
    |.
p
    | I build 
    a(href="https://www.pipelinepharma.com") modern web applications
    |, develop 
    a(href="https://www.npmjs.com/package/sequelize-fixtures") open source libraries
    |, tinker with 
    a(href="http://www.banditracer.eu/") html5 games
    |.
p
    | Currently I work at 
    a(href="http://www.producters.com") Producters
    |, providing solid technical solutions for both startups and established companies.
p
    | I enjoy classic, sci-fi books and long-winded discussions.

p
    | Drop me a line: 
    a(href="mailto:domasx2@gmail.com") domasx2@gmail.com