p Some of this stuff I developed for professional projects, some I do for fun.
.oss
    section
        h2 Django + angular + docker seed
        a(href="https://github.com/domasx2/django-angular-docker-seed")
            | https://github.com/domasx2/django-angular-docker-seed
        p
            | A seed project for django + angular web applications that uses docker for dev environment and basic deployment. 
            | Contains docker-compose recipes for development, testing and production environments, gulp-based frontend build chain, various management commands and a sample application.
            | It is used as a base for several professional projects at Producters.
    section
        h2 Sequelize fixtures
        a(href="https://github.com/domasx2/sequelize-fixtures")
            | https://github.com/domasx2/sequelize-fixtures
        p
            | Fixture loader for Sequelize javascript ORM. Intended for loading test data from json, yaml or javsacript files. Inspired by similar feature in django. 
    section
        h2 Express Crawler Snapshots
        a(href="https://github.com/Producters/express-crawler-snapshots")
            | https://github.com/Producters/express-crawler-snapshots
        p
            | Robust express.js middleware for servicing search engine crawler requests, intended for websites where content is rendered by javascript.
            | Detects incoming crawler requests and prerenders the page on the server via Phantomjs, returning static html.
            | Simple to set up and robust, used in several commercial projects.
    section
        h2 Angular Named Route
        a(href="https://github.com/domasx2/angular-named-route")
            | https://github.com/domasx2/angular-named-route
        p
            | A "plugin" for ng-route that enables naming routes. Use names instead of hardcoded URLs in the code. This way URLs can be quickly and safely modified anytime.
    section 
        h2 Bandit racer
        a(href="https://github.com/domasx2/banditracer-client")
            | https://github.com/domasx2/banditracer-client
        p
            | HTML5 combat racing game built with gamejs game lib and box2d physics engine.
            | Includes a single player campaign, computer controlled bots, level editor.
            | Bandit Racer 2 is coming any decade now, I swear :)
    section
        h2 Box2d car example
        a(href="https://github.com/domasx2/gamejs-box2d-car-example")
            | https://github.com/domasx2/gamejs-box2d-car-example
        p
            | A example of top-down 2d car physics implementation using box2d javascript physics engine.
    section
        h2 MRPAS.js
        a(href="https://github.com/domasx2/mrpas-js")
            | https://github.com/domasx2/mrpas-js
        p
            | A javascript port of a 2d shadowcasting algorithm.