.resume
    section.skills
        h2 Skills
        p Whenever I take up a project, personal or professional, I use it as an opportunity to learn new things.
        p I've done something serious with any of below:
        ul
            li 
                strong General:
                | Prototyping, problem solving, architecture, requirement analysis, estimating
            li
                strong Languages:
                | Python, Javascript, Java, HTML, CSS, Bash
            li
                strong Frameworks:
                | Django, Play!, express.js
            li
                strong Frontend:
                | Backbone, Angular, Ember, jQuery, Bootstrap, D3.js
            li
                strong Backend:
                | PostgreSQL, Elasticsearch, Node, Riak, Mongo, Apache, Nginx, Docker
            li
                strong Preprocessors, templating:
                | Less, Stylus, Jade, Swig, Emblem, Handlebars
            li
                strong Testing:
                | Mocha, Karma, Protractor, Lettuce, Nightwatch.js, Selenium
            li
                strong Misc:
                | Linux, Gulp, Grunt, Git, Mercurial, Google Analytics

    section.experience
        h2 Experience

        section
            h3 Senior Developer at Producters
            span.subtitle March 2013 - present
            p 
                | At Producters I lead web application projects through all their stages, from requirement analysis to developement, QA and support.
                | Our clients include both fresh startups and established enterprises. 
                | Within the team I advocate new technologies & best practices, do code reviews, look for opportunities to improve processes.

        section
            h3 Developer at Acoobe
            span.subtitle Jaunary 2012 - March 2013
            p
                | Developed and maintained Django based web applications.
                | Worked on search engine integration, interfacing with banks, APIs for mobile clients.
                | Implemented & used test driven development practices for projects with robust quality requirements.

        section
            h3 Developer at Verslo Bazė
            span.subtitle May 2007 - February 2012
            p
                | Developed and maintained a large business management, warehouse operations and  accounting web application.

    section.education

        h2 Education

        section
            h3 Computer Science at Vilnius University, bachelor
            span.subtitle 2005 - 2009
