p Whenever I take up a project, personal or professional, I use it as an opportunity to learn new skills.
p I've done something serious with any of below:
ul.skillz

    li 
        strong General:
        | Prototyping, estimating, architecting, troubleshooting
    li
        strong Languages:
        | Python, Javascript, Java, HTML, CSS, Bash
    li
        strong Frameworks:
        | Django, Play!, express.js
    li
        strong Frontend:
        | Backbone, Angular, Ember, jQuery, bootstrap, d3.js
    li
        strong Backend:
        | PostgreSQL, MySQL, Elasticsearch, Riak, Mongo, Apache, Nginx, Docker, Grunt, Gulp
    li
        strong Preprocessors, templating:
        | Less, Stylus, Jade, Swig, Emblem, Handlebars
    li
        strong Testing:
        | Mocha, Karma, Protractor, Lettuce, Nightwatch.js, Selenium
    li
        strong Misc:
        | Linux, Gulp, Grunt, Git, Mercurial, SEO


