doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="UTF-8")
        meta(name="description", content="Domas Lapinskas, web developer")
        meta(name="keywords", content="Domas Lapinskas,web developer,Vilnius,Lithuania,python,javascript")
        meta(name="author", content="Domas Lapinskas")
        title Domas
        link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro', rel='stylesheet')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="style.css")
    body
        #asteroids-canvas
        .wrap
            h1 Domas Lapinskas
            span.header-subtitle full stack web developer
            p.social-links
                a(href="https://github.com/domasx2")
                    i.fa.fa-github
                    | Github
                a(href="https://www.linkedin.com/pub/domas-lapinskas/4/240/68")
                    i.fa.fa-linkedin-square
                    | Linkedin

            .nav
                ul
                    li.nav-about 
                        a(href="/") about
                    li.nav-resume
                        a(href="/resume") resume
                    li.nav-open-source
                        a(href="/open-source") open source
            .content
        script(src="app.js")
        script#tpl-about(type="text/template")
            include ./_about.jade
        script#tpl-resume(type="text/template")
            include ./_resume.jade
        script#tpl-open-source(type="text/template")
            include ./_open-source.jade
        script.
            //insert livereload snippet on localhost TODO: on debug instead
            if(location.host.split(':')[0] === 'localhost' ) {
                document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
            }
