.content
    
    padding-top: 5%
    padding-top: 5vh;
    
    h1, h2
        text-align: center
        
    .social-links
        text-align: center
        font-size: 20px
        
        a:first-child
            margin-right: 10px

        i
            color: black
            margin-right: 3px
            
    section
        padding: 8vh 5vw
        
        p
            padding: 0.5vh 0
            font-size: 18px
        
        &#about-me
            a
                color: black
            
