.nav
    margin-top: 5vh
    text-align: center
    
    li
        display: inline-block
        font-size: 30px
        margin-left: 30px
        
        @media (max-width: $small_width) {
            font-size: 14px
            font-size: 5vw
        }
        
        &:first-child
            margin-left: 0px
        
        a
            color: $font_color
            

        &.active 
            font-weight: bold
            
            &::before
                content: ">"