.resume
    
    h2
        margin: 40px 0 20px 0
        
        @media screen and (max-width: $small_width)
            margin: 10px 0 20px 0
        
    h3
        margin: 20px 0 5px 0
        
    .skills
        ul
            margin-top: 20px
            li 
                line-height: 200%
                list-style: none
                strong
                    margin-right: 10px
                .lame
                    opacity: 0.3
                    
                .sub-skillz
                    padding-left: 1em
                    