*
    margin: 0px
    padding: 0px;
    box-sizing: border-box
    font-family: 'Source Code Pro', sans-serif;

html, body
    height: 100%
 
body
     overflow-x: hidden

@import "./asteroids"
@import "./nav"
@import "./content"
@import "./skills"