.wrap
    z-index: 2
    position: relative
    
    padding-top: 5%
    padding-top: 5vh
    
    h1, .header-subtitle
        display: block
        text-align: center
    
    .header-subtitle
        font-size: 24px
        font-weight: bold    
        
    .social-links
        text-align: center
        font-size: 20px
        
        a:first-child
            margin-right: 20px

        i
            color: black
            margin-right: 3px
            
    @media screen and (max-width: $small_width)
        .header-subtitle
            font-size: 20px
            